node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Acton related files
.acton/
gen/
lcov.info
libraries.toml
global.libraries.toml

# Mnemonic and wallet files
.env
*.mnemonic
wallets.toml
global.wallets.toml
